# ==============================================================================
# Python Caches & Environments
# ==============================================================================
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
ENV/
env/
*.egg-info/
.mypy_cache/

# ==============================================================================
# Terraform State & Temp Files
# ==============================================================================
**/.terraform/
*.tfstate
*.tfstate.*
*.backup
tfplan
.terraform.lock.hcl

# ==============================================================================
# System & Editor Settings
# ==============================================================================
.DS_Store
.vscode/
.idea/
*.log
